# The Business Problem

### The objective 

- The objective of the team is to build a predictive model that will produce the highest profit for the next direct marketing campaign, scheduled for the next month. The new campaign, sixth, aims at selling a new gadget to the Customer Database. To build the model, a pilot campaign involving 2.240 customers was carried out. The customers were selected at random and contacted by phone regarding the acquisition of the gadget. During the following months, customers who bought the offer were properly labeled. The total cost of the sample campaign was 6.720MU and the revenue generated by the customers who accepted the offer was 3.674MU. Globally the campaign had a profit of -3.046MU. The success rate of the campaign was 15%. The objective is of the team is to develop a model that predicts customer behavior and to apply it to the rest of the customer base. Hopefully, the model will allow the company to cherry pick the customers that are most likely to purchase the offer while leaving out the non-respondents, making the next campaign highly profitable. Moreover, other than maximizing the profit of the campaign, the CMO is interested in understanding to study the characteristic features of those customers who are willing to buy the gadget.

### The data
- The data set contains socio-demographic and firmographic features about 2.240 customers who were contacted. Additionally, it contains a flag for those customers who responded the campaign, by buying the product.

- AcceptedCmpl - 1 if costumer accepted the offer in the 1st campaign. 0 otherwise

- AcceptedCmp2 - 1 if costumer accepted the offer in the 2nd campaign, 0 otherwise
- AcceptedCmp3 - 1 if costumer accepted the offer in the 3rd campaign, 0 otherwise
- AcceptedCmp4 - 1 if costumer accepted the offer in the 4th campaign, 0 otherwise
- AcceptedCmp5 - 1 if costumer accepted the offer in the 5th campaign. 0 otherwise
- Response (target) - 1 if costumer accepted the offer in the last campaign, 0 otherwise
- Complain - 1 if costumer complained in the last 2 years
- DtCustomer - date of customer's enrollment with the company 
- Education - customer's level of education
- Marital - customer's marital status
- Kidhome - number of small children in customer's household
- Teenhome - number of teenagers in customer's household
- Income - customer's yearly household income
- Mnt FishProducts - amount spent on fish products in the last 2 years
- Mnt Meat Products - amount spent on meat products in the last 2 years
- Mnt Fruits - amount spent on fruits in the last 2 years
- MatSweet Products - amount spent on sweet products in the last 2 years
- Mnt Wines - amount spent on wines in the last 2 years 
- MntGoldProds - amount spent on gold products in the last 2 years
- NumDeals Purchases - number of purchases made with discount
- NumCatalog Purchases - number of purchases made using catalogue
- NumStorePurchases - number of purchases made directly in stores
- NumWebPurchases - number of purchases made through company's web site
- NumWebVisits Month - number of visits to company's web site in the last month
- Recency - number of days since the last purchase

# 0.0 - Imports

In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

# 0.1 - Load Data

In [9]:
df = pd.read_csv('C:/Users/anderson.bonifacio_i/Desktop/Dados/case_food_delivery/case_food_delivery/data/raw/data.csv')
df.head().T

,0,1,2,3,4
ID,5524,2174,4141,6182,5324
Year_Birth,1957,1954,1965,1984,1981
Education,Graduation,Graduation,Graduation,Graduation,PhD
Marital_Status,Single,Single,Together,Together,Married
Income,58138.0,46344.0,71613.0,26646.0,58293.0
Kidhome,0,1,0,1,1
Teenhome,0,1,0,0,0
Dt_Customer,2012-09-04,2014-03-08,2013-08-21,2014-02-10,2014-01-19
Recency,58,38,26,26,94
MntWines,635,11,426,11,173
MntFruits,88,1,49,4,43
MntMeatProducts,546,6,127,20,118
MntFishProducts,172,2,111,10,46
MntSweetProducts,88,1,21,3,27
MntGoldProds,88,6,42,5,15
NumDealsPurchases,3,2,1,2,5
NumWebPurchases,8,1,8,2,5
NumCatalogPurchases,10,1,2,0,3
NumStorePurchases,4,2,10,4,6
NumWebVisitsMonth,7,5,4,6,5
AcceptedCmp3,0,0,0,0,0
AcceptedCmp4,0,0,0,0,0
AcceptedCmp5,0,0,0,0,0
AcceptedCmp1,0,0,0,0,0
AcceptedCmp2,0,0,0,0,0
Complain,0,0,0,0,0
Z_CostContact,3,3,3,3,3
Z_Revenue,11,11,11,11,11
Response,1,0,0,0,0